{% extends "base.html" %}
{% block head_script %}
<script defer src="{{ url_for('static', filename='js/attractions.js') }}"></script>
{% endblock %}
{% block body %}
<div id="hero">
    <div class="hero-img">
        <img src="static/images/welcome_desktop.png" id="hero-img-full">
        <img src="static/images/welcome_mobile.png" id="hero-img-mobile">
    </div>
    <div id="hero-slogan1">輕鬆享受台北一日悠閒</div>
    <div id="hero-slogan2">探索每個角落，體驗城市的深度旅遊行程</div>

    <div id="hero-searchbar-wrapper">
        <div id="hero-searchbar">
            <input type="text" id="hero-searchbar-keyword" placeholder="請輸入景點名稱查詢">
            <div id="hero-searchbar-dropdown">
            </div>

            <div id="hero-searchbar-btn">
                <img src="static/images/icon_search.png">
            </div>
        </div>
    </div>

</div>

<div id="attractions-grp">

</div>
{% endblock %}