@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    margin: 0px;
    z-index: 1;
}

#navbar-wrapper {
    position: sticky;
    top: 0px;
    z-index: 9998;
    background: white;
}

#navbar {
    position: sticky;
    width: 1200px;
    height: 54px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 999;
    background: white;
}

#navbar-title {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #448899;
    width: 150px;
    height: 34px;
    padding-left: 7px;
}

#navbar-menu {
    display: flex;
    align-items: center;
}

#navbar-menu>div {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-size: 16px;
    line-height: 13px;
    margin: 0px 10px;
}

#hero {
    position: relative;
    max-width: 100%;
    height: 420px;
}

.hero-img {
    width: 100%;
    overflow: hidden;
}

#hero-img-full {
    width: 1920px;
    height: 480px;
    clip-path: inset(0px 0px 160px 0px);
}

#hero-img-mobile {
    display: none;
    width: 360px;
    height: 375;
}

#hero-slogan1 {
    position: absolute;
    height: 41px;
    left: 370px;
    top: 85px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #F8F8F8;
    text-shadow: 0px 0px 30px #AABBCC;
}

#hero-slogan2 {
    position: absolute;
    height: 22px;
    left: 370px;
    top: 141px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    display: flex;
    align-items: center;

    color: #F8F8F8;
}

#hero-searchbar {
    position: absolute;
    width: 400px;
    height: 46px;
    left: 370px;
    top: 188px;

    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;

    box-shadow: 0px 0px 20px #AABBCC;
}

#hero-searchbar-keyword {
    position: absolute;
    width: 370px;
    height: 16px;
    left: 15px;
    top: 15px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    display: flex;
    align-items: center;

    /* color: #757575; */
    color: black;
    border: none;

}

#hero-searchbar-dropdown {
    visibility: hidden;
    width: 100%;
    position: absolute;
    top: 51px;
    padding: 11px 0px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px #AABBCC;
    border-radius: 5px;

    
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-gap: 0px 0px;
    align-items: center;

    color: #000000;

    order: 0;
    flex-grow: 0;

    cursor: pointer;
}

#hero-searchbar-dropdown>div {
    height: 20px;
    padding: 10px 15px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.hero-searchbar-dropdown-option:hover {
    background: #E8E8E8;
    border-radius: 5px;
}

#hero-searchbar-btn {
    position: absolute;
    width: 60px;
    height: 46px;
    left: 400px;
    top: 0px;

    background: #448899;
    border-radius: 0px 5px 5px 0px;

    cursor: pointer;
}

#hero-searchbar-btn>img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 8px;
}

#attractions-grp {
    width: 1170px;
    margin: auto;
    top: 429px;
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-gap: 30px 30px;
    justify-content: center;
}

.attraction {
    width: 270px;
    height: 242px;

    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.attraction>img {
    width: 270px;
    height: 197px;
    vertical-align: middle;

    border-radius: 4px;
}

.attraction-name {
    position: relative;
    width: 270px;
    height: 40px;
    left: 0px;
    top: -40px;

    background-color: rgba(0, 0, 0, 0.6);
}

.attraction-name>div {
    position: relative;
    top: 10px;
    left: 10px;
    width: 250px;
    height: 20px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    display: flex;
    align-items: center;

    color: #FFFFFF;
    opacity: 1;
}

.attraction-details {
    position: relative;
    top: -40px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #FFFFFF;
    border-radius: 5px;
}

.attraction-details>div {
    position: relative;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    padding: 10px;

    color: #757575;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 95px;
    padding-top: 40px;
    padding-bottom: 40px;

    height: 104px;
    background: #757575;
}

#footer>div {
    font-family: 'Noto Sans TC';
    font-style: normal;
    height: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    color: #FFFFFF;
}

@media(max-width: 1200px) {
    #navbar {
        width: auto;
    }

    #hero-img {
        width: 100%;
    }

    #hero-slogan1 {
        left: 20%;
    }

    #hero-slogan2 {
        left: 20%;
    }

    #hero-searchbar {
        left: 20%;
    }

    #attractions-grp {
        width: 100%;
        grid-template-columns: 270px 270px 270px;
        grid-gap: 30px 30px;
    }
}

@media(max-width: 900px) {
    #attractions-grp {
        grid-template-columns: 270px 270px;
    }
}

@media (max-width: 600px) {
    #attractions-grp {
        grid-template-columns: 270px;
    }

    #hero-slogan1 {
        left: 12%;
    }

    #hero-slogan2 {
        left: 12%;
    }

    #hero-searchbar {
        width: 300px;
        left: 12%;
    }

    #hero-searchbar-keyword {
        width: 270px;
    }

    #hero-searchbar-dropdown {
        width: 322px;
        grid-template-columns: 96px 96px 96px;
    }
    #hero-searchbar-dropdown>div {
        height: 20px;
        padding: 10px 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }

    #hero-searchbar-btn {
        left: 300px;
    }

}

@media (max-width: 450px) {
    #hero-slogan1 {
        left: 10%;
    }

    #hero-slogan2 {
        left: 10%;
    }

    #hero-searchbar {
        width: 250px;
        left: 10%;
    }

    #hero-searchbar-keyword {
        width: 220px;
    }

    #hero-searchbar-btn {
        left: 250px;
    }


}

@media (max-width: 360px) {

    #navbar {
        width: 360px;
    }

    #hero {
        width: 360px;
    }

    #hero-img-full {
        display: none;
    }

    #hero-img-mobile {
        display: block;
    }

    #hero-slogan1 {
        width: 320px;
        left: 20px;
        top: 86px;

        font-size: 28px;
        line-height: 24px;
    }

    #hero-slogan2 {
        width: 320px;
        left: 20px;
        top: 142px;
    }

    #hero-searchbar {
        width: 230px;
        height: 46px;
        left: 20px;
        top: 189px;
    }

    #hero-searchbar-keyword {
        position: absolute;
        width: 195px;
        height: 16px;
        left: 15px;
        top: 15px;
    }

    #hero-searchbar-dropdown {
        width: 322px;
        grid-template-columns: 96px 96px 96px;
    }

    #hero-searchbar-btn {
        width: 60px;
        height: 46px;
        left: 230px;
        top: 0px;
    }

    #attractions-grp {
        top: 0px;
        display: block;
    }

    .attraction {
        width: 322px;
        height: 280px;
        margin: 0px 19px 15px 19px;
    }

    .attraction>img {
        width: 322px;
        height: 235px;
    }

    .attraction-name {
        width: 322px;
    }

    #footer {
        display: none;
    }

}